<footer class="footer">
  <!-- Start Footer Top -->
  <div class="container hidden-sm hidden-xs">
    <div class="row row1">
      <div class="col-sm-12">
        <p>© 2017 <span>Royal Agro International FZE</span>. All rights reserved</p>        
      </div>
    </div>
  </div>
  <div class="container hidden-md hidden-lg">
    <div class="row row1">
      <div class="col-sm-12">
        <p>© 2017 <span>Royal Agro International FZE</span>. <br/>All rights reserved</p>        
        <ul class="footer-nav nav navbar-nav text">
          <li> <a href="{% url 'index' %}">Home</a></li>
          <li> <a href="{% url 'about' %}">About</a></li>
          <li> <a href="{% url 'commodities' %}">Commodities</a></li>
          <li> <a href="{% url 'resources' %}">Resources</a></li>
          <li> <a href="{% url 'news' %}">News/Events</a></li>
          <li> <a href="{% url 'gallery' %}">Gallery</a></li>
          <li> <a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End Footer Top -->

</footer>