{% spaceless %}
<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>{{seo_obj.title|safe}}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->        
    <meta name="description" content="{{seo_obj.description|safe}}" />
    <meta name="keywords" content="{{seo_obj.keywords|safe}}" />
    <link rel="icon" href="{{MEDIA_URL}}images/favicon.ico">
    
	{% block metaheader %}{% endblock %}
	<link href="{{MEDIA_URL}}css/reset.css" rel="stylesheet" type="text/css">
	<!-- Custom Fonts -->
	<link href="{{MEDIA_URL}}css/fonts.css" rel="stylesheet" type="text/css">
	<!-- Bootstrap -->
	<link href="{{MEDIA_URL}}assets/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<!-- Select2 -->
	<link href="{{MEDIA_URL}}assets/select2/css/select2.min.css" rel="stylesheet" type="text/css">
	<!-- Font Awesome -->
	<link href="{{MEDIA_URL}}assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<!-- Magnific Popup -->
	<link href="{{MEDIA_URL}}assets/magnific-popup/css/magnific-popup.css" rel="stylesheet" type="text/css">
	<!-- Iconmoon -->
	<link href="{{MEDIA_URL}}assets/iconmoon/css/iconmoon.css" rel="stylesheet" type="text/css">
	<!-- Owl Carousel -->
	<link href="{{MEDIA_URL}}assets/owl-carousel/css/owl.carousel.min.css" rel="stylesheet" type="text/css">
	<!-- Animate -->
	<link href="{{MEDIA_URL}}css/animate.css" rel="stylesheet" type="text/css">
	<!-- Custom Style -->
	<link href="{{MEDIA_URL}}css/custom.css" rel="stylesheet" type="text/css">

	<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
	<style type="text/css">
    @font-face {
        font-family: 'icomoon';
        src: url('{{MEDIA_URL}}assets/iconmoon/fonts/icomoon.eot');
        src: url('{{MEDIA_URL}}assets/iconmoon/fonts/icomoon.eot') format('embedded-opentype'),
        url('{{MEDIA_URL}}assets/iconmoon/fonts/icomoon.ttf') format('truetype'),
        url('{{MEDIA_URL}}assets/iconmoon/fonts/icomoon.woff') format('woff'),
        url('{{MEDIA_URL}}assets/iconmoon/fonts/icomoon.svg') format('svg');
        font-weight: normal;
        font-style: normal;
    }   
  </style>
  
	{% block header_style %}{% endblock %}          
	</head>
	<body>
	
		<!-- Start Preloader -->
		<div id="loading">
		  <div class="element">
		    <div class="sk-folding-cube">
		      <div class="sk-cube1 sk-cube"></div>
		      <div class="sk-cube2 sk-cube"></div>
		      <div class="sk-cube4 sk-cube"></div>
		      <div class="sk-cube3 sk-cube"></div>
		    </div>
		  </div>
		</div>
		<!-- End Preloader -->	
		{% include "includes/header.html" %}
		{% block body_header %}{% endblock %}
		{% block content %}{% endblock %}
		{% block body_footer %}{% endblock %}
		{% include "includes/footer.html" %}		
	 <!-- Bootstrap core JavaScript================================================== -->   
    
    
	<!-- Bootsrap JS -->
	<script type="text/javascript" src="{{MEDIA_URL}}assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- Select2 JS -->
	<script type="text/javascript" src="{{MEDIA_URL}}assets/select2/js/select2.min.js"></script>
	<!-- Match Height JS -->
	<script type="text/javascript" src="{{MEDIA_URL}}assets/matchHeight/js/matchHeight-min.js"></script>
	<!-- Bxslider JS -->
	<script type="text/javascript" src="{{MEDIA_URL}}assets/bxslider/js/bxslider.min.js"></script>
	<!-- Waypoints JS -->
	<script type="text/javascript" src="{{MEDIA_URL}}assets/waypoints/js/waypoints.min.js"></script>
	<!-- Counter Up JS -->
	<script type="text/javascript" src="{{MEDIA_URL}}assets/counterup/js/counterup.min.js"></script>
	<!-- Magnific Popup JS -->
	<script type="text/javascript" src="{{MEDIA_URL}}assets/magnific-popup/js/magnific-popup.min.js"></script>
	<!-- Owl Carousal JS -->
	<script type="text/javascript" src="{{MEDIA_URL}}assets/owl-carousel/js/owl.carousel.min.js"></script>
	<!-- Modernizr JS -->
	<script type="text/javascript" src="{{MEDIA_URL}}js/modernizr.custom.js"></script>
	<!-- Custom JS -->
	<script type="text/javascript" src="{{MEDIA_URL}}js/custom.js"></script>  	
    {% block body_script  %}{% endblock %}
	{% include 'common/google_analytics.html' %}
	</body>
</html>
{% endspaceless %}
