Hello, 
<br/><br/>
An enquiry came from our <strong>Royal Agro</strong> website,
<br/><br/>
<table style="width:100%;">
	<tbody>	
		<tr >
			<td style="padding:5px;width:15%;text-align: right;"><strong>Name : </strong> </td>
			<td >{{first_name}} {{last_name}} </td>
		</tr>	
		<tr >
			<td style="padding:5px;width:15%;text-align: right;"><strong>Country : </strong> </td>
			<td >{{country_name}} </td>
		</tr>
		<tr >
			<td style="padding:5px;width:15%;text-align: right;"><strong>Mobile Number : </strong> </td>
			<td >+{{country_code}} - {{mobile_number}} </td>
		</tr>
		<tr >
			<td style="padding:5px;width:15%;text-align: right;"><strong>Email Address : </strong> </td>
			<td >{{email_address}} </td>
		</tr >
		<tr >
			<td style="padding:5px;width:15%;text-align: right;"><strong>Message : </strong> </td>
			<td >{{message}} </td>
		</tr>
	</tbody>
</table>


--
<br>
<b>Thanks and regards,</b>
<br>
	
<b>Royal Agro International FZE</b>


