{% extends 'page_layout.html' %} {% block content %}
<!-- Start Video -->
<section class="peanut_video hidden-sm hidden-xs">
    <div class="blog" data-vide-bg="{{MEDIA_URL}}video/corn" style="min-height: 500px;">
    </div>
</section>
<!-- End Video -->
<!-- Start products Description -->
<section class="padding-tp products commodity">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Corn <span class="pull-right more_products hidden-sm hidden-xs" style="">Our Other Products</span></h1> {% include 'includes/our_products.html' %}
                <!-- <p>
                        Popcorn is one snack that everyone loves and craves at some point in their lives. The quality of this product is obtained by the usage of fine quality ingredients. We make sure that the offered lot complies with the stated quality norms, thus check the product quality on several stages. Our Pamaps pop pop corn has typical smell characteristic of natural grain, free from strange smells, mix of orange and yellow colors depending on the hybrid, free from foreign matters.
                    </p> -->
            </div>
        </div>
    </div>
</section>
<!-- End products Description -->
<!-- Start Our Importance Section -->
<section class="padding-tp products">
    <div class="container">
        <ul class="row">
            <li class="col-sm-4 col-xs-12 prodimg">
                <img src="{{MEDIA_URL}}images/products/corn/c1.jpg" class="img-responsive" alt="">
            </li>
            <li class="col-sm-4 col-xs-12 prodimg">
                <img src="{{MEDIA_URL}}images/products/corn/c2.jpg" class="img-responsive" alt="">
            </li>
            <li class="col-sm-4 col-xs-12 prodimg">
                <img src="{{MEDIA_URL}}images/products/corn/c3.jpg" class="img-responsive" alt="">
            </li>
        </ul>
    </div>
</section>
<!-- End Our Importance Section -->
<!--  Specification starts here -->
<section class="padding-tp products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
</section>
<!-- end specification -->
<!-- start loading -->
<section class="padding-tp products">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>US yellow corn</h4>
                <br/>
                <p style="font-size:16px;">
                        <b>Grades and grade requirements for yellow corn, white corn and mixed corn</b>
                       <!--  <hr style="border-width: 2px;"/> -->
                        </p>
                        </br>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        
                        
                        <thead>
                            <tr>

                                <th rowspan="3" style="width:20%;" class="text-center">Grade</th>
                                <th rowspan="3" class="text-center" style="width:20%">Minimum test weight (lb/bu)</th>
                                <th colspan="3" class="text-center" style="width:20%">Maximum limits</th>
                            </tr>
                            <tr>
                                <th class="text-center" style="width:20%" rowspan="2" style="width:20%">Broken corn & foreign material (%)</th>
                                <th class="text-center" style="width:20%" colspan="2" style="width:20%">Damaged kernels</th>
                                <!-- <th style="width:20%">Argentina</th>
                                <th style="width:20%">Sudan</th>
                                <th style="width:20%">Mozambique</th> -->
                            </tr>
                            <tr>
                            <th  class="text-center" style="width:20%">Total (%)</th>
                            <th class="text-center" style="width:20%">Heat damanged (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                            <td>U.S. No. 1</td>
                            <td>56</td>
                            <td>2.0</td>
                            <td>3.0</td>
                            <td>0.1</td>
                            </tr>
                            <tr class="text-center">
                            <td>U.S. No. 2</td>
                            <td>54</td>
                            <td>3.0</td>
                            <td>5.0</td>
                            <td>0.2</td>
                            </tr>
                            <tr class="text-center">
                            <td>U.S. No. 3</td>
                            <td>52</td>
                            <td>4.0</td>
                            <td>7.0</td>
                            <td>0.5</td>
                            </tr>
                            <tr class="text-center">
                            <td>U.S. No. 4</td>
                            <td>49</td>
                            <td>5.0</td>
                            <td>10.0</td>
                            <td>1.0</td>
                            </tr>
                            <tr class="text-center">
                            <td>U.S. No. 5</td>
                            <td>46</td>
                            <td>7.0</td>
                            <td>15.0</td>
                            <td>3.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
</section>
<section class="padding-tp-bt products">
    <div class="container">
        <div class="row">
            <div class="col-md-5" style="margin-top:20px;padding-left:0px;">
                <h4>Argentina yellow maize</h4>
                <ul class="inline specification-list">
                    <li>Moisture: 14.50% (Max) </li>
                    <li>Broken kernels: 3% (Max) </li>
                    <li>Damaged kernel: 5% (Max)</li>
                    <li>Foreign matter: 1.50% (Max) </li>
                    <li>Other types: 3% (Max) </li>
                    <li>Maize of other colours: 5% (Max) </li>
                    <li>Datura ferox: 2 seeds per 100g (Max) </li>
                    <li>Organoleptic: Natural state, smell and color</li>
                    <li>Live insect Infestation: Nil </li>
                    <li>Packing : As per contractual agreement.</li>
                    <li>
                        <h6>Contaminants and Toxins</h6>
                        <b>Heavy metal</b>
                        <ul class="inline specification-list">
                            <li>Arsenic (As): 1.10 ppm (Max). </li>
                            <li>Copper (Cu): 30 ppm (Max) </li>
                            <li>Lead (Pb): 2.50 ppm (Max). </li>
                            <li>Cadmium (Cd): 1.50 ppm (Max)</li>
                            <li>Tin (Sn): 250 ppm (Max). </li>
                            <li>Zinc (Zn): 50 ppm (Max). </li>
                            <li>Mercury (Hg): 1.00 ppm (Max). </li>
                        </ul>
                        <b>Pesticide residues</b>
                        <ul class="inline specification-list">
                            <li>Carbamate
                                < 10 ppb </li>
                                    <li>Organochlorine
                                        < 10 ppb </li>
                                            <li>Organophosphorus
                                                < 10 ppb </li>
                                                    <li>Pyrethroid
                                                        < 10 ppb </li>
                        </ul>
                        <b>Toxic or noxious seeds </b>
                        <ul class="inline specification-list">
                            <li>Crotolaria (Crotolaria spp.) : Free </li>
                            <li>Corn cockle (Agrostemma githago L.) : Free </li>
                            <li>Castor bean (Ricinus communis L.) : Free </li>
                        </ul>
                        <b>Radiation </b>
                        <ul class="inline specification-list">
                            <li>Radiation : 10 Bq/Kg (Max) </li>
                        </ul>
                        <b>Mycotoxins </b>
                        <ul class="inline specification-list">
                            <li>Zearalenone : 100 ppb (Max) </li>
                            <li>Ochratoxin : A 5 ppb (Max) </li>
                        </ul>
                        </li>
                </ul>
            </div>
            <div class="col-md-7" style="margin-top:20px;padding-left:0px;">
                <h4>Brazilian yellow maize</h4>
                <ul class="inline specification-list">
                    <li>Moisture. maximum 14.50%</li>
                    <li>Foreign matter. maximum 1.50% </li>
                    <li>Broken kernels ..maximum 3% - Aflatoxine..maximum 20PPB</li>
                    <li>Damaged kernels maximum 5% of which maximum 1% heat damaged and/or germinating</li>
                    <li>Goods free from alive insects </li>
                    <li>Free from poisonous seeds/husks but tolerance maximum 0.10% castorseed and/or castorseed husks.</li>
                    <li>To be final at time and place of shipment per certificate/s issued by Independent Surveyor, cost being for Seller’s account. </li>
                    <li>Other quality/condition in accordance with Brazilian Legislation ruling at time and place of shipment.</li>
                    <li>Buyer has the option, at his expense, to request for joint sampling and sealing, advising the Seller in due time the name of the Independent Surveyor he is appointing. If the difference of any of the following items between Buyer and Seller certificates does not exceed the below mentioned percentages, then the Seller’s results will be final. </li>
                    <li>Otherwise, at request of either party at his expenses, within 45 days from the B/L date, a third test shall be carried out by a mutually agreed Independent Laboratory. </li>
                    <li>The average of the 2 closest analysis results shall be final under this contract, and must be settled by a complementary debit note. - Moisture 0.50%, Foreign Matter 0.50%, Damaged kernels 0.50%, and Heat Damaged and/or Germinating 0.50%. </li>
                    <li>Packing : In Bulk</li>
                </ul>
            

       
                <h4>Ukraine yellow corn</h4>
                <br/>
                <p>Corn (maize) - one of the most popular foods in the world, and is the second best-selling grain culture after wheat. In Ukraine, the most commonly grown type of corn is sugar yellow corn. Yellow corn is characterized by high starch content (up to 70%) and fat (4-6%), small fiber content (2-4%).</p>
                <br/>
            
                <h4>Specifications</h4>
                <br/>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-left" style="width:20%;">Grade</th>
                                <th class="text-right" style="width:20%;">Feed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>Test Weight (kg/hl)</strong></td>
                                <td class="text-right">> 680</td>
                            </tr>
                            <tr>
                                <td><strong>Moisture, %</strong></td>
                                <td class="text-right">≤ 15.0</td>
                            </tr>
                            <tr>
                                <td><strong>Damaged Kernels, %</strong></td>
                                <td class="text-right">≤ 6.0</td>
                            </tr>
                            <tr>
                                <td><strong>Broken Kernels, %</strong></td>
                                <td class="text-right">≤ 6.0</td>
                            </tr>
                            <tr>
                                <td><strong>Aflatoxins (including B1, B2, G1, G2)</strong></td>
                                <td class="text-right">≤ 20.0</td>
                            </tr>
                            <tr>
                                <td><strong>Grain Impurities, %</strong></td>
                                <td class="text-right">≤ 6.0</td>
                            </tr>
                            <tr>
                                <td><strong>Waste Impurities, %</strong></td>
                                <td class="text-right">≤ 3.0</td>
                            </tr>
                            <tr>
                                <td><strong>Protein, %</strong></td>
                                <td class="text-right">> 9.0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
          
    </div>
    </div>

</section>

{% include 'includes/contact.html' %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
<script type="text/javascript" src="{{MEDIA_URL}}js/jquery.vide.js"></script>
{% endblock %}
