{% extends 'page_layout.html' %}
{% block content %}
       
    <!-- Start Video -->
    <section class="greenMungBean_video hidden-sm hidden-xs">
        <div class="blog" data-vide-bg="{{MEDIA_URL}}video/green_mung" style="min-height: 500px;">
        </div>
    </section>
    <!-- End Video -->
    <!-- Start products Description -->
    <section class="padding-tp-bt products commodity">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Green Mung Bean <span class="pull-right more_products hidden-sm hidden-xs" style="">Our Other Products</span></h2>
                    {% include 'includes/our_products.html' %}
                    <!-- <p>Green Mung Beans Variety isVigna Radiata, Grain legume of the species Phaseolus aureus. These are beans of the last harvest uniform healthy green colour, cleaned, calibrated and dried. They are an all natural plant based protein that are low in calories, low in fat, high in fiber and high in protein. Green Mung beans are sowed during december to January and harvested during March to April. These beans are produced in Argentina.
                    </p> -->
                </div>
            </div>
        </div>
    </section>
    <!-- End products Description -->
    <!-- Start Our Importance Section -->
    <section class="padding-tp products">
        <div class="container">
            <ul class="row">
                <li class="col-sm-4 col-xs-12 prodimg">
                    <img src="{{MEDIA_URL}}images/products/greenmungbean/b1.png" class="img-responsive" alt="">
                </li>
                <li class="col-sm-4 col-xs-12 prodimg">
                    <img src="{{MEDIA_URL}}images/products/greenmungbean/b2.png" class="img-responsive" alt="">
                </li>
                <li class="col-sm-4 col-xs-12 prodimg">
                    <img src="{{MEDIA_URL}}images/products/greenmungbean/b3.jpg" class="img-responsive" alt="">
                </li>
            </ul>
        </div>
    </section>
    <!-- End Our Importance Section -->
    <!--  Specification starts here -->
    <section class="padding-tp products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Specification</h2>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th rowspan="2" class="text-center">Features</th>
                                    <th colspan="6" class="text-center">Origin </th>
                                </tr>
                                <tr>
                                    <th>Argentina</th>
                                    <th>Uzbekistan</th>
                                    <th>Ethiopia</th>
                                    <th>Myanmar</th>
                                    <th>Mozambique</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Size
                                    </td>

                                    <td>
                                        3.20 - 4.00 mm
                                    </td>
                                    <td>3.25 - 4.00 mm</td>
                                    <td>
                                        2.60 - 3.0 mm
                                    </td>
                                    <td>2.80 - 3.25 mm</td>
                                    <td>2.50 - 3.00 mm</td>
                                </tr>
                                <tr>
                                    <td>Moisture (Max)</td>
                                    <td>14%</td>
                                    <td>14%</td>
                                    <td>13%</td>
                                    <td>14%</td>
                                    <td>14%</td>
                                </tr>
                                <tr>
                                    <td>Purity (Min)</td>
                                    <td>98%</td>
                                    <td>98%</td>
                                    <td>
                                        98%
                                    </td>
                                    <td>98.50%</td>
                                    <td>96%</td>
                                </tr>
                                <tr>                               
                                    <td>Admixture (Max)</td>
                                    <td>0.50%</td>
                                    <td>1%</td>
                                    <td>1.50%</td>
                                    <td>0.50%</td>
                                    <td>2%</td>
                                </tr>
                                <tr>
                                    <td>Foreign Material (Max)</td>
                                    <td>1%</td>
                                    <td>1%</td>
                                    <td>0.50%</td>
                                    <td>1%</td>
                                    <td>2%</td>
                                </tr>
                                <tr>                               
                                    <td>Damaged &#38; shriveled beans (Max)</td>
                                    <td>1%</td>
                                    <td>2%</td>
                                    <td>1%</td>
                                    <td>2%</td>
                                    <td>2%</td>
                                </tr>

                                <tr>
                                    <td>Machine Cleaned</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                    <td>Yes</td>
                                </tr>
                                <tr>
                                    <td> Color Sorted</td>
                                    <td>Yes</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td> Sowing</td>
                                    <td>Dec - Jan</td>
                                    <td>Jun - Jul</td>
                                    <td>Mar - Jul</td>
                                    <td>Oct</td>
                                    <td>Dec - Jan</td>
                                </tr>
                                <tr>
                                    <td>Harvest</td>
                                    <td>Mar - Apr</td>
                                    <td>Sep - Oct</td>
                                    <td>May - Oct</td>
                                    <td>Jan</td>
                                    <td>Mar - Apr</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end specification -->
    <!-- start loading -->
    <section class="padding-tp-bt products">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="prod-h2">Packing</h2>
                    <div class="table-responsive ">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Packing type</th>
                                    <th>
                                        50 Kg Polypropylene bags
                                    </th>
                                    <th>
                                        25 Kg Polypropylene bags
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        No of bags per 20' FCL
                                    </td>
                                    <td>
                                        480 Bags
                                    </td>
                                    <td>
                                        960 Bags
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gross Capacity per 20' FCL</td>
                                    <td>
                                        24 MT
                                    </td>
                                    <td>
                                        24 MT
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'includes/contact.html' %}   
    <!--  loading ends here-->        
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>    
    <!-- Video plugin-->
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.vide.js"></script>
{% endblock %}