{% extends 'page_layout.html' %}
{% block content %}
  <link rel="stylesheet" href="{{MEDIA_URL}}css/intlTelInput.css">
    <!-- Start Banner -->
    <div class="inner-banner blog hiddem-md hidden-lg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="content">
                        <h1>Contact Us</h1>
                        <p>Get in touch with us.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="inner-banner contact hiddem-sm hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <div class="content">
                        <h1>Contact Us</h1>
                        <p>Get in touch with us.</p>
                    </div>
                </div>
                <div class="col-sm-2 ">
                    <a href="#" class="clearfix">
                        <div class="icon"><img src="{{MEDIA_URL}}images/rak_logo.jpg" class="img-responsive" alt=""></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <section class="">        
        <div class="container">
            <div class="m-contact-detail contact-detail hidden-md hidden-lg">
                <div class="address">
                    <div class="inner">
                        <h3>​Company</h3>
                        <p>Royal Agro International FZE </p>
                        <p>P.O.Box 326187,</p>
                        <p>Ras Al Khaimah, United Arab Emirates </p>
                    </div>
                    <div class="inner">
                        <h3>+971 543335474 </h3>
                    </div>
                    <div class="inner"> <a href="mailto:support@royalagrotrade.com">support@royalagrotrade.com</a> </div>
                </div>
                <div class="contact-bottom">
                    <ul class="follow-us clearfix">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner -->
    <!-- Start Contact Us -->
    <section class="form-wrapper padding-lg form_br">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div class="leave-comment">
                            <form action="" method="post" id="id_contact_form">
                            {% csrf_token %}
                                <div class="row1 clearfix">
                                    <input name="first_name" id="id_first_name" placeholder="First Name*" type="text">
                                </div>
                                <div class="row1 clearfix">
                                    <input name="last_name" id="id_last_name" placeholder="Last Name*" type="text">
                                </div>
                                <div class="row1 clearfix">                                    
                                    <input name="mobile_number" maxlength="15" id="id_mobile" placeholder="Mobile Number*" type="text">
                                </div>
                                <div class="row1 clearfix">
                                    <input name="email_address" id="id_email" placeholder="Email Address*" type="email">
                                </div>
                                <input id="id_country_code" name="country_code" type="hidden"/>
                                <input id="id_country_name" name="country_name" type="hidden"/>
                                <textarea name="message" id="id_message" placeholder="Message*"></textarea>
                                <button type="button" onclick='validate_contact_form()' class="btn">Send<span class="icon-more-icon"></span></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Contact Us -->
    <!-- Start Google Map -->
    <section class="google-map">
        <div id="map"></div>
        <div class="container">
            <div class="contact-detail hidden-sm hidden-xs">
                <div class="address">
                    <div class="inner">
                        <h3>​Company</h3>
                        <p>Royal Agro International FZE </p>
                        <p>P.O.Box 326187,</p>
                        <p>Ras Al Khaimah, United Arab Emirates </p>
                    </div>
                    <div class="inner">
                        <h3>+971 543335474 </h3>
                    </div>
                    <div class="inner"> <a href="mailto:support@royalagrotrade.com">support@royalagrotrade.com</a> </div>
                </div>
                <div class="contact-bottom">
                    <ul class="follow-us clearfix">
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Google Map -->
    <!-- Start About Video -->
    <section class="row hidden-md hidden-lg" style="">
        <div class="container">
            <img src="{{MEDIA_URL}}images/rak_logo.jpg" class="img-responsive" alt=""  style="height:200px;margin:0 auto;" />
        </div>
    </section>
    <section class="about-video">
        <div class="container">
            <p>Connecting cultures across continents through Agri(culture) trading.</p>
        </div>
    </section>
    <!-- End About Video -->    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.min.js"></script>
    <!-- Bootsrap JS -->    
    <!-- Select2 JS -->
    <script type="text/javascript" src="{{MEDIA_URL}}assets/select2/js/select2.min.js"></script>
    <!-- Match Height JS -->
    <script type="text/javascript" src="{{MEDIA_URL}}assets/matchHeight/js/matchHeight-min.js"></script>
    <!-- Google Map API JS -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGedsNocrCAZndSgO8vO5C6CW4vCPchx0&sensor=false"></script>
    <!-- Jquery Validate JS -->
    <script type="text/javascript" src="{{MEDIA_URL}}js/jquery.validate.min.js"></script>
    <!-- Custom JS -->
      <script src="{{MEDIA_URL}}js/intlTelInput.min.js"></script>
    
    <script type="text/javascript">
    $(document).ready(function() {
        var mapId = $('#map');
        if (mapId.length > 0) {
            google.maps.event.addDomListener(window, 'load', init);

            function init() {
                var mapOptions = {
                    zoom: 6,
                    scrollwheel: false,
                    center: new google.maps.LatLng(25.276987, 55.296249),

                };
                var mapElement = document.getElementById('map');
                var map = new google.maps.Map(mapElement, mapOptions);
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng(25.276987, 55.296249),
                    map: map,
                });
            }
        }

        $("#id_mobile").intlTelInput({              
                          separateDialCode: true,                                
              utilsScript: "{{MEDIA_URL}}js/utils.js",
              geoIpLookup: function(callback) {
  $.get("https://ipinfo.io", function() {}, "jsonp").always(function(resp) {
    var countryCode = (resp && resp.country) ? resp.country : "";
    console.log(resp);    
  });
}
        });
    });

    function validate_contact_form(){
        var first_name = $("#id_first_name").val();
        var last_name = $("#id_last_name").val();
        var email = $("#id_email").val();   
        var mobile = $("#id_mobile").val();          
        var validate_email = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;   
        var validate_mobile = /^[0-9]\d{9}|\d{14}$/;                       
        var message = $("#id_message").val();  
        
        if(first_name == ""){
            $("#id_first_name").addClass('error-r');
        }
        else if(last_name == ""){
            $("#id_first_name").removeClass('error-r');
            $("#id_last_name").addClass('error-r');
        }

        else if(mobile == "" || !(validate_mobile.test(mobile))){
            $("#id_last_name").removeClass('error-r');
            $("#id_mobile").addClass('error-r');

        }
        else if(email == "" || !(validate_email.test(email))){
            $("#id_mobile").removeClass('error-r');
            $("#id_email").addClass('error-r');
        }        
        else if(message == "" ){
            $("#id_first_name, #id_last_name,#id_mobile, #id_email").removeClass('error-r');
            $("#id_message").addClass('error-r');
        }
        else{
            $("#id_name, #id_email, #id_message").removeClass('error-r');
            var countryData = $("#id_mobile").intlTelInput("getSelectedCountryData");   
            console.log(countryData)         
            $("#id_country_name").val(countryData.name);
            $("#id_country_code").val(countryData.dialCode); 
            $("#id_contact_form").submit();
        }
    }
    </script>
{% endblock %}